[submodule "terminal"]
	path = terminal
	url = https://github.com/lagovi/OperitTerminalCore.git
[submodule "tools/hotbuild/OperitNightlyRelease"]
	path = tools/hotbuild/OperitNightlyRelease
	url = git@github.com:AAswordman/OperitNightlyRelease.git
